.container {
  position: fixed;
  width: 100%;
  background-color: #fafafa;
  top: 0;
  border-bottom: solid 1px lightgray;
  padding: 0 10px;
}

.btn {
  padding: 20px;
  font-size: 15px;
  border-radius: 0;
  font-weight: 600;
}
