.sendMessage {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

.sendMessage input {
  width: 100%;
  font-size: 15px;
  font-weight: 550;
  margin: 0 5px;
}

.sendMessage button {
  width: 18%;
  font-size: 15px;
  font-weight: 550;
  margin: 0 5px;
  max-width: 200px;
  background-color: #70a1ff;
  border-radius: 5px;
}
